/*General style
0. google fonts
1.Navbar
2.Header
3.Section 1
4.Section 2
5.Section 3
6.Footer 

*/

/*Google Fonts*/

h1{
  font-family: 'Oxygen', sans-serif;

}
h2{
  font-family: 'Oxygen', sans-serif;

}
h3{
  font-family: 'Oxygen', sans-serif;


}
h4{
  font-family: 'Oxygen', sans-serif;


}
h5{
  font-family: 'Oxygen', sans-serif;


}
h6{
  font-family: 'Oxygen', sans-serif;


}

p{
  font-family: 'Oxygen', sans-serif;


}


/*Navbar styles*/


/*Header ===================================*/

h2.welcome-text{
  font-size: 65px;
  margin-left: 2em;
}



/* Section 1 ===============================*/
  .section-1{
    height: 550px;

  }


  .pen {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
  }
  
  .box {
    margin-left: 15em;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--pink);
  }

  .text-box{
    position: relative;
    left: 1em;
    right: 2.5em;
    top: 2.2em;
    font-size: 25px;
    color: white;
    text
  }
  


/*======================== Section 2 */

.card{
    margin: 0px;
    margin-top: -50px;
    padding: 0px;
    border: 0px none;  
}

h5.card-font{
  margin-bottom: 5px;
  padding: 0px;
  font-size: 25px;
  font-weight: bold;
}



/*================Footer====================*/

.footer-row{
  margin-top: 10em;
  height: 350px;
}

p.footer-text{
  font-size: 19px;
}