/*General style

1.Navbar
2.Section 1
3.Section 2

*/

/*Navbar styles*/



/* Section 1 ===============================*/
  .section-1{
    height: 550px;

  }


  .pen {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
  }
  
  .box {
    margin-left: 15em;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--pink);
  }

  .text-box{
    position: relative;
    left: 1em;
    right: 2.5em;
    top: 2.2em;
    font-size: 25px;
    color: white;
    text
  }
  


/*======================== Section 2 */

.card{
    margin: 0px;
    margin-top: -50px;
    padding: 0px;
    border: 0px none;  
}
