/*General style
0. google fonts
1.Navbar
2.Header
3.Section 1
4.Section 2
5.Section 3
6.Footer 

*/

/*Google Fonts*/

h1{
  font-family: 'Oxygen', sans-serif;

}
h2{
  font-family: 'Oxygen', sans-serif;

}
h3{
  font-family: 'Oxygen', sans-serif;


}
h4{
  font-family: 'Oxygen', sans-serif;


}
h5{
  font-family: 'Oxygen', sans-serif;


}
h6{
  font-family: 'Oxygen', sans-serif;


}

p{
  font-family: 'Oxygen', sans-serif;


}
a{
  color: black;
  cursor: pointer;
}
a:hover{
  color: black;
  text-decoration: none;
  transition-duration: 1s;
  cursor:pointer;
}

.btn{
  border: none;
  background-color: red;
  font-family:'Oxygen', sans-serif;
  font-weight: lighter;
}

.btn:hover{
  background-color: black;
  transition-duration: 1s;
  transition-timing-function: none;
}

.btn-primary{
  background-color: red;
  border: none;

}

.btn-lg{
  width: 12em;
  height: 3em;
  font-size: 20px;
}

/*Navbar styles*/


/*Header ===================================*/
.header-section{
  
}

h2.welcome-text{
  color: white;
  font-size: 60px;
  margin-left: 2em;
  
}

.img-heading{
  height: 250px;
}


/* Section 1 ===============================*/
  .section-1{
    padding: 0px;
    height: 795px;
    background-color: red;
  }
  
/*Balls==========================*/

.balls {
  display: flex;
  align-items: stretch;
  height: 75px;
  position: relative;
  
  .ball {
    background: var(--purple);
    border-radius: 50%;
    margin-right: 15px;
    flex: 0 0 75px;

    &:nth-child(4n + 2) {
      background: var(--green);
    }

    &:nth-child(4n + 3) {
      background: var(--pink);
    }

    &:nth-child(4n + 4) {
      background: var(--blue);
    }
  }
}

 
    


/*======================== Section 2 */

.card{
    margin: 0px;
    margin-top: -50px;
    padding: 0px;
    border: 0px none;  
}

h5.card-font{
  margin-bottom: 5px;
  padding: 0px;
  font-size: 25px;
  font-weight: bold;
}

/*================Newsletter section*/
.newsletter-section{
  height: 400px;
  background-color: red;
}

/*================Footer====================*/

.footer-row{
  margin-top: 10em;
  height: 250px;
}

p.footer-text{
  font-size: 19px;
}
p.agency-text{
  font-size: 15px;
}

a.agency-privacy{
  font-weight:500;
  color: red;
  cursor: pointer;
}

a.agency-privacy:hover{
  color: black;
  cursor: pointer;
}