/*General style
0. google fonts
1.Navbar
2.Header
3.Section 1
4.Section 2
5.Section 3
6.Footer 

*/

body{
  font-family: 'Sora', sans-serif;
  padding: auto;
  margin: auto;
}

/*Google Fonts*/

h1{
  font-family: 'Sora', sans-serif;

}
h2{
  font-family: 'Sora', sans-serif;

}
h3{
  font-family: 'Sora', sans-serif;


}
h4{
  font-family: 'Sora', sans-serif;


}
h5{
  font-family: 'Sora', sans-serif;


}
h6{
  font-family: 'Sora', sans-serif;


}

p{
  font-family: 'Sora', sans-serif;


}
a{
  color: black;
  cursor: pointer;
}
a:hover{
  color: black;
  text-decoration: none;
  transition-duration: 1s;
  cursor:pointer;
}

.btn{
  border: none;
  background-color: red;
  font-family: 'Sora', sans-serif;
  font-weight: lighter;
}

.btn:hover{
  background-color: black;
  transition-duration: 1s;
  transition-timing-function: none;
}

.btn-primary{
  background-color: red;
  border: none;

}

.btn-lg{
  width: 12em;
  height: 3em;
  font-size: 20px;
}

/*Navbar styles*/


/*Header ===================================*/
.header-section{
  
}

h2.welcome-text{
  color: white;
  font-size: 60px;
  margin-left: 2em;
  
}

.img-heading{
  height: 250px;
}


/* Work section  ===============================*/
  .section-1{
    padding: 0px;
    height: 795px;
    background-color: red;
  }

  .work-section{
    padding:0px;
    margin:0px;
  }

  figcaption{
    font-size: 30px;
    font-weight: lighter;
  }

  h3.work-title{
    margin-top: 2em;
    font-size: 75px;
    font-weight: bolder;
  }

  p.work-description{
    margin-top: 1.5em;
    margin-bottom:9em;
    font-size: 15px;

  }

button.btn-work{
  margin-top: 4em;
}

/*=======================Strategic section*/
.strategic-section{
  margin-top: 13em;
  margin-bottom: 10em;
}

img.studio-img{
  height: 450px;
  width: 850px;
  position: absolute;
  left: 45em;
  top: 35em;
  border: 20px solid white;
}

.strategic-info{
  margin-top: 0px;
}

h4.strategic-title{
  margin-top:0px;
  padding-top:0px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 85px;
  font-weight: bolder;
}

p.strategic-text{
  padding-left: 30px;
  padding-right: 30px;
  font-
}

a.work-button{
  padding-left: 30px;

}


/*================Hyistory section*/
.history-section{
  height: 550px;
  margin-top: 140px;
  background-color: red;
}

h4.history-head{
  margin-top: 30px;
  margin-left: 40px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 75px;
  font-weight: bold;
  color: white;
}

p.history-text{
  margin-top: 20px;
  margin-left: 40px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 15px;
  color: white;
} 

.btn-about{
  padding-left: 70px;
}

/*================Footer====================*/

.footer-row{
  margin-top: 10em;
  height: 250px;
}

p.footer-text{
  font-size: 19px;
}
p.agency-text{
  font-size: 15px;
}

a.agency-privacy{
  font-weight:500;
  color: red;
  cursor: pointer;
}

a.agency-privacy:hover{
  color: black;
  cursor: pointer;
}

.footer-social{
  margin-top: 2em;
}